<div id="<%= dom_id subscriber %>">
  <p>
    <strong>First name:</strong>
    <%= subscriber.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= subscriber.last_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= subscriber.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= subscriber.user_id %>
  </p>

</div>
